<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This Video List</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Video List</h1>
    <ul>
      <% filelist.forEach(function(file) { %>
        <li><%= file %></li>
      <% }); %>
    </ul>
  </body>

  <script>
      var list=document.getElementsByTagName('li');

      for(var i=0; i<list.length; i++){
        list.item(i).addEventListener('click', function(e) {
          window.location=`http://<%= ip %>/${e.target.innerHTML}`;
        });
      }
    </script>
</html>