<!DOCTYPE html>
<html>
  <head>
    <title>This Video List</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <ul>
      <% filelist.forEach(function(file) { %>
        <li><%= file %></li>
      <% }); %>
    </ul>
  </body>

  <script>
      var list=document.getElementsByTagName('li');

      for(var i=0; i<list.length; i++){
        list.item(i).addEventListener('click', function(e) {
          console.log(e.target.innerHTML);
          var xhr=new XMLHttpRequest();
          xhr.open('GET', `http://localhost:3000/list/${e.target.innerHTML}`);
          xhr.send();
        });
      }
    </script>
</html>