<!DOCTYPE html>
<html>
    <head>
        <title>LOGIN</title>
    </head>

    <body>
        <form action="/login" method="post">
            <input type="text" placeholder="ID" name="id">
            <input type="password" placeholder="PW" name="pw">
            <button type="submit">Login</button>
        </form>
    </body>
</html>