<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>This Video List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Video List</h1>
    <ul>
      <% filelist.forEach(function(file) { %>
        <li><%= file.filename %></li>
      <% }); %>
    </ul>
    <br>

    <!--<p>파일 업로드</p>
    <form action="/upload/save" method="post" enctype="multipart/form-data">
      <input type="file" name="videoFile">
      <input type="submit" value="파일 업로드하기">
    </form>-->
  </body>

  <script>
      var list=document.getElementsByTagName('li');

      for(var i=0; i<list.length; i++){
        list.item(i).addEventListener('click', function(e) {
          window.location=`http://<%= ip %>/videoplay/${e.target.innerHTML}`;
        });
      }
  </script>
  
</html>